       



/* Font Family */
@font-face {
    font-family: retro;
    src: url(/assets/fonts/retro.ttf);
}


/* MOBILE */
/* MOBILE */
/* MOBILE */
@media only screen and (min-width: 0em) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2em;
    }
   
    .blog-title {
        font-family: retro;
        font-size: 20px;
    }
    
    .blog-container {
        display: flex;
        flex-direction: row;
        padding: 1em;
        gap: 1em;
    }

    .container-1{
        background-color: white;
    }

   


    .title {
        font-size: 15px;
        font-weight: bold;
        font-family: retro;
    }
    
    .description {
        font-family:'Courier New', Courier, monospace;
        
    }
    
    .date {
        font-family:'Courier New', Courier, monospace;
    }
    
    .paragraph {
        font-size: medium;
        font-family:'Courier New', Courier, monospace;
    
    }

    .container-2{
        background-color: rgb(194, 194, 194);
        padding: 10px;
    }

    .topics {
        font-family:'Courier New', Courier, monospace;
        font-size: 20px;
    }


    

}